In [13]:
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager

In [14]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [C:\Users\amylb\.wdm\drivers\chromedriver\win32\96.0.4664.45\chromedriver.exe] found in cache

### Mars News

In [15]:
# visit browser url
url = "https://redplanetscience.com/"
browser.visit(url)

In [16]:
# create html and parse
html = browser.html
soup = bs(html, "html.parser")

In [17]:
# scrape the latest news title
latest_news = soup.find_all("div", class_="content_title")[0]

In [18]:
# assign latest news title to a variable to access later
latest_news_title = latest_news.text
latest_news_title

"How NASA's Mars Helicopter Will Reach the Red Planet's Surface"

In [19]:
# scrape the latest news paragraph
paragraph = soup.find_all("div", class_="article_teaser_body")[0]

In [20]:
# assign latest news paragraph to a variable to access later
latest_news_paragraph = paragraph.text
latest_news_paragraph

'The small craft will seek to prove that powered, controlled flight is possible on another planet. But just getting it onto the surface of Mars will take a whole lot of ingenuity.'

### Mars Featured Image

In [21]:
# visit browser url
url = "https://spaceimages-mars.com/"
browser.visit(url)

In [22]:
# create html and parse
html = browser.html
soup = bs(html, "html.parser")

In [23]:
# scrape latest image and assign to variable
img = [i.get("src") for i in soup.find_all("img", class_="headerimage fade-in")]
img[0]

'image/featured/mars2.jpg'

In [24]:
# concat main url with image url
# assign to variable to access later
featured_image_url = url + img[0]
featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

### Mars Facts

In [25]:
# visit browser url
url = "https://galaxyfacts-mars.com/"
browser.visit(url)

In [26]:
# create html and parse
html = browser.html
soup = bs(html, "html.parser")

In [27]:
# scrape the mars earth comparison table and assign variable
table = soup.find_all("table", class_="table")[0]
table

<table class="table">
<tbody>
<tr>
<th scope="row"><b> Mars - Earth Comparison</b></th>
<td><span class="orange"><b> Mars</b></span></td>
<td><span class="purple"> <b>Earth </b></span> </td>
</tr>
<tr>
<th scope="row">Diameter:</th>
<td><span class="orange">6,779 km</span></td>
<td><span class="purple">12,742 km</span> </td>
</tr>
<tr>
<th scope="row">Mass:</th>
<td><span class="orange">6.39 × 10^23 kg </span></td>
<td><span class="purple">5.97 × 10^24 kg</span> </td>
</tr>
<tr>
<th scope="row">Moons:</th>
<td><span class="orange">2</span></td>
<td><span class="purple">1</span> </td>
</tr>
<tr>
<th scope="row">Distance from Sun:</th>
<td><span class="orange">227,943,824 km</span></td>
<td><span class="purple">149,598,262 km</span> </td>
</tr>
<tr>
<th scope="row">Length of Year:</th>
<td><span class="orange">687 Earth days</span></td>
<td><span class="purple">365.24 days</span> </td>
</tr>
<tr>
<th scope="row">Temperature:</th>
<td><span class="orange">-87 to -5 °C</span></td>
<td><span class="purple">	-88 to 58°C</span> </td>
</tr>
</tbody>
</table>

In [28]:
# create variable for just table headers for data frame
table_header = [i.text for i in table("th")]
table_header

[' Mars - Earth Comparison',
 'Diameter:',
 'Mass:',
 'Moons:',
 'Distance from Sun:',
 'Length of Year:',
 'Temperature:']

In [29]:
# create variable for mars column contents
mars_column = [i.text for i in table("span", class_="orange")]
mars_column

[' Mars',
 '6,779 km',
 '6.39 × 10^23 kg ',
 '2',
 '227,943,824 km',
 '687 Earth days',
 '-87 to -5 °C']

In [30]:
# create variable for earth column contents
earth_column = [i.text for i in table("span", class_="purple")]
earth_column

[' Earth ',
 '12,742 km',
 '5.97 × 10^24 kg',
 '1',
 '149,598,262 km',
 '365.24 days',
 '\t-88 to 58°C']

In [32]:
# create data frame
table_df = {"Description": table_header, "Mars": mars_column, "Earth": earth_column}
df = pd.DataFrame(table_df)
df.set_index("Description", inplace=True)
df

                                      Mars            Earth
Description
 Mars - Earth Comparison              Mars           Earth
Diameter:                         6,779 km        12,742 km
Mass:                     6.39 × 10^23 kg   5.97 × 10^24 kg
Moons:                                   2                1
Distance from Sun:          227,943,824 km   149,598,262 km
Length of Year:             687 Earth days      365.24 days
Temperature:                  -87 to -5 °C    \t-88 to 58°C

In [33]:
# remove the /t from last row of earth temp info
df["Earth"] = df["Earth"].str.replace("\t", "")
df

                                      Mars            Earth
Description
 Mars - Earth Comparison              Mars           Earth
Diameter:                         6,779 km        12,742 km
Mass:                     6.39 × 10^23 kg   5.97 × 10^24 kg
Moons:                                   2                1
Distance from Sun:          227,943,824 km   149,598,262 km
Length of Year:             687 Earth days      365.24 days
Temperature:                  -87 to -5 °C      -88 to 58°C

In [34]:
# convert table to html text
comparison_table = df.to_html(classes="table table-striped")

### Mars Hemispheres

In [35]:
# visit browser url
url = "https://marshemispheres.com/"
browser.visit(url)

In [37]:
# create empty list for each hemisphere image
hemisphere_image_urls = []

In [38]:
# scrape images by looping through
# get image title and image url
for i in range(4):
    html = browser.html
    soup = bs(html, "html.parser")
    
    title = soup.find_all("h3")[i].get_text()
    browser.find_by_tag('h3')[i].click()
    
    html = browser.html
    soup = bs(html, "html.parser")
    
    img_url = soup.find("img", class_="wide-image")["src"]
    
    hemisphere_image_urls.append({
        "title": title,
        "img_url": "https://marshemispheres.com/" + img_url
    })
    browser.back()

In [39]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [40]:
browser.quit()